@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-display: 'Inter', sans-serif;
    --color-primary: #2C95C5;
    --color-background-light: #f6f8f8;
    --color-background-dark: #12201f;
}

/* Force dark mode to be class-based so it doesn't automatically trigger on user OS preference */
@variant dark (&:is(.dark *));